.alignit {
  margin-left: 20vw;
  margin-right: 20vw;
  width: 60vw;
}
.special{
  background: linear-gradient(rgb(49, 49, 49),rgb(32, 32, 32));
  color: white;
}
/* body{
  background: black;
} */
.symbol {
  position: absolute;
  top: 12px;
  right: 20px;
  z-index: 100000;
}
.symbol i {
  font-size: 25px;
}
.symbol i:hover {
  color: rgb(250, 38, 74);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .alignit {
    margin-left: 2vw;
    margin-right: 2vw;
    width: 96vw;
  }
  .padit {
    padding-top: 1vh;
  }
}
